<nav class="navbar navbar-default " style="background-color: white;">
    <div class="container">
        <div class="navbar-header">
          <% if(!user){ %>
			
            <a class="navbar-brand" href="/">اخبار الجامعة</a>
            <a class="navbar-brand" href="/">| البريد الالكتروني</a>
            <% }  %>
              
            
        </div>
        <div id="navbar" class=" navbar-collapse">
          <% if(user){ %>
          <ul class="nav navbar-nav">
            <li><a href="index">Home</a></li>
          </ul>
          <% } %>
          <ul class="nav navbar-nav navbar-right">
              <% if(!user){ %>
                <a class="navbar-brand" href="/">Zajel- An Najah National University

                </a>
              <% } else { %>
                  <li><a href="#">Signed In As <%= user.username %></a></li>
                  <li><a href="/logout">Logout</a></li>
                  <li><a href="/forgot">Reset</a></li>
              <% } %>
              
          </ul>
        </div>
    </div>
</nav>


<% if(!user){ %>
<nav class="navbar navbar-expand-md navbar-default" style="margin-top:-21px;  background-color: #3969ac;color: white; ">
  <div class="container">
    <div class="navbar-header">
  
  <ul class="nav navbar-nav navbar-left">
      <li> <a class="navbar-brand" href="/" style="color: white;">زاجل - البرنامج الأكاديمي لجامعة النجاح الوطنية</a></li> 
    <li >
      <img class="largeLogo" src="/views/شعار_الجامعة.png" alt="An-Najah National University" width="100" height="100">
    </li>
  </ul> 
    </div>
    </div>
</nav>
  <% }  %>

  <div class="container" >
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger"style="background-color: #b9f8bf;color:red;" ><p><%=error %></p></div>
    <% } %>
    
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success"><p><%= success %></p></div>
    <% } %>
 </div>
<div class="container">
