<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
     <link rel="stylesheet" href="css/form-feild-style.css" rel="stylesheet">
</head>
​
<body>
​
    <div id ="container1">
​
        <div id="container2">
    
            <div id="first">
    
       <div class="form-group">
            <label for="name">Full Name</label><br> 
            <input id="inp" required type="text" name="name"  id="name" class=".col-sm-*">
        </div>
​
        
        <div class="form-group">
            <label for="id">ID Number</label><br>
            <input id="inp" required type="text" name="id"  id="id" class=".col-sm-*">
        </div>
        
​
​
        <div class="form-group">
            <label for="nationality">Nationality</label><br>
            <input id="inp" required type="text" name="nationality"  id="nationality" class=".col-sm-*">
        </div>
        
​
    
        <div class="form-group">
            <label for="jnat">If you have Jordanian national number</label><br>
            <input  id="inp" type="text" name="jnat"  id="jnat" class=".col-sm-*">
        </div>
    </div>
​
    
        <div id="second">
        <div class="form-group">
            <label for="city">City</label><br>
            <input id="inp" required type="text" name="city"  id="city" class=".col-sm-*">
        </div>
        <br>
​
        <div class="form-group">
            <label for="from">City / village / camp</label><br>
            <input id="inp" required type="text" name="from"  id="from" class=".col-sm-*">
        </div>
        <br>
​
        <div class="form-group">
            <label for="street">Street</label><br>
            <input id="inp" required type="text" name="street"  id="street" class=".col-sm-*">
        </div>
        </div>
​
       
    </div>
    
    <div id="buttons">
    <a href="/" class="btn btn-secondary">Cancel</a> 
    <button type="submit" class="btn btn-primary">Save</button>
    </div> 
    
    </div>
    
</body>
</html>
