<%- include ('./partials/header') -%>
<%- include ('./partials/navbar') -%>
<<<<<<< HEAD
<div class="container" style="margin-bottom: 60px;">
=======
<div class="container"style="margin-bottom:60px;">

>>>>>>> 0e5a2df8dab7acc9b30c9b93fb3b8e98d1c29e24
<div class="wrapper fadeInDown cont">
    <div id="formContent" style="border: 1px solid #4e73df;">
    <div class="row">
	
		<h1 style="text-align: center">Forgot Password</h1>
		<div  style="width: 50%; margin: 25px auto;"><hr>
			<div class="text-center">
				
				<p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
			  </div><hr>
			<form action="/forgot" method="POST">
				
				<div class="form-group">
					<input type="email" name="email" autofocus class="form-control"placeholder="Email">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block"style="background-color:#4e73df;">Send</button>
				</div>
			</form>
		
		</div>
		
		<div id="formFooter">
		<% if(!user){ %>
			
			<div class="text-center" id="formFooter">
				<a  href="/"class="underlineHover">Already have an account? Login!</a>
				<a class="underlineHover" href="register">Create an Account!</a>
  
			</div>			  
			  <% } else { %>
				<a class="underlineHover" href="/index" style="text-align: left;">Back</a>
			<% } %>
		</div>
    </div>
</div>

</div>
</div>
<%- include ('./partials/footer') -%>

